
// Esquema de Cores
$corPrincipal: #f5f6fa;
$corFonte: #fff;
$corHeader: #182C61; 
$corButton: #44bd32;
$corHover: #4cd137;


// Fontes
$fontePrincipal: Roboto, sans-serif;

// Breakpoint
$mobile: 767px;
$tablet: 1023px;